.button {
    padding: 8px 31px;
    background-color: var(--grey-color);
    border: 1px solid var(--grey-color);
    border-radius: 4px;
    backdrop-filter: blur(4px);
    box-shadow: none;
    outline: none;
    transition: background-color 200ms ease-in-out;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
}

.button:hover {
    background-color: transparent;
}
